@model PersonModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I'm @Model.Name - @Model.Age</h1>
    <h2>Full stack developer | AWS Expert</h2>
    <img id="image" src="~/img/Hellekin.png" alt="Hellekin" />
</div>
