@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Introduction" />

<partial name="_Skills" />

@if(Model.Projects is not null){
    <div class="text-center" style="padding-top: 6rem;">
        <h1>My recents works</h1>
        <p>Here you can see some of my works</p>
    </div>
    <div class="container">
        
    </div>
}