@{
    ViewData["Title"]="Thankyou";
}

<h1>Thanks for getting in contact with me</h1>
<p>I will answer your message as soon as possible</p>
<div><a asp-action="Index" asp-controller="Home">Return Home</a></div>